  <div class="container mt-5">
    <h2 class="mb-4">Cadastro de Categoria</h2>
    <form action="categoria" method="post">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" name="nome" placeholder="Digite o nome da categoria" required>
      </div>
      <div class="mb-3">
        <label for="slug" class="form-label">Slug</label>
        <input type="text" class="form-control"  name="slug" placeholder="Digite o slug da categoria" required>
      </div>
      <button type="submit" class="btn btn-primary btn-explore">Cadastrar</button>
    </form>
  </div>