<div class="container mt-5">
  <h2>Explore nosso e-Marketplace</h2>
  <div class="row">
    <div class="col-md-6">
      <h3>Imóveis</h3>
      <ul class="list-group">
        <li class="list-group-item">Casa em Maputo - $100,000</li>
        <li class="list-group-item">Apartamento em Matola - $75,000</li>
        <!-- Mais imóveis -->
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Espaços (Terrenos)</h3>
      <ul class="list-group">
        <li class="list-group-item">Terreno em Xai-Xai - $50,000</li>
        <li class="list-group-item">Terreno em Nampula - $30,000</li>
        <!-- Mais terrenos -->
      </ul>
    </div>
  </div>

  <h4 class="mt-5">Filtrar:</h4>
  <form class="form-inline">
    <div class="form-group mr-2">
      <label for="priceRange" class="mr-2">Faixa de Preço:</label>
      <input type="text" class="form-control" id="priceRange" placeholder="Ex.: 50,000 - 100,000">
    </div>
    <div class="form-group mr-2">
      <label for="district" class="mr-2">Distrito:</label>
      <input type="text" class="form-control" id="district" placeholder="Ex.: Maputo">
    </div>
    <button type="submit" class="btn btn-primary">Aplicar Filtros</button>
  </form>
</div>
