<div class="container my-3">
    <h2 class="text-center mt-3">Prencha o formulario abaixo...</h2>
    <hr>
    <div class="row align-items-center shadow-lg p-4 rounded hover-shadow mt-5">
        <!-- Logo -->
        <div class="col-md-5 text-center mb-4 mb-md-0">
            <img src="/images/PROMPTUS LOGO (WHITE).png" alt="Logo da Empresa" class="img-fluid ">
        </div>

        <!-- Formulário -->
        <div class="col-md-7 ">
            <form action="/quero-fazer-parte" method="POST">
                <!-- Nome -->
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome Completo</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome completo" required>
                </div>

                <!-- E-mail -->
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail" required>
                </div>

                <!-- Telefone -->
                <div class="mb-3">
                    <label for="telefone" class="form-label">Telefone</label>
                    <input type="tel" class="form-control" id="telefone" name="telefone" placeholder="Digite seu telefone">
                </div>

                <!-- Mensagem -->
                <div class="mb-3">
                    <label for="mensagem" class="form-label">Por que quer fazer parte?</label>
                    <textarea class="form-control" id="mensagem" name="mensagem" rows="4" placeholder="Digite sua mensagem"></textarea>
                </div>

                <!-- Botão de Enviar -->
                <button type="submit" class="btn btn-primary w-100">Enviar</button>
            </form>
        </div>
    </div>
</div>

<br>


<br>