<div class="container my-3">
    <h2 class="text-center mt-3">Sobre Nós</h2>
    <hr>

    <div class="row text-center mt-5 componentes-home">
        <!-- Quem Somos -->
        <div class="col-md-3 mb-4">
            <div class="p-4 text-white rounded shadow-lg border rounded shadow-sm hover-effect custom-card">
                <div class="icon-background d-inline-block p-3 mb-3">
                    <i class="fas fa-users fa-4x"></i>
                </div>
                <h4>Quem Somos</h4>
                <p>Somos uma empresa inovadora focada em soluções tecnológicas para o mercado local.</p>
            </div>
        </div>

        <!-- Missão -->
        <div class="col-md-3 mb-4">
            <div class="p-4 text-white rounded shadow-lg border rounded shadow-sm hover-effect custom-card">
                <div class="icon-background d-inline-block p-3 mb-3">
                    <i class="fas fa-bullseye fa-4x"></i>
                </div>
                <h4>Missão</h4>
                <p>Proporcionar produtos e serviços de alta qualidade, com foco em inovação e acessibilidade.</p>
            </div>
        </div>

        <!-- Valores -->
        <div class="col-md-3 mb-4">
            <div class="p-4 text-white rounded shadow-lg border rounded shadow-sm hover-effect custom-card">
                <div class="icon-background d-inline-block p-3 mb-3">
                    <i class="fas fa-handshake fa-4x"></i>
                </div>
                <h4>Valores</h4>
                <p>Inovação, Qualidade, Responsabilidade e Compromisso com os nossos clientes.</p>
            </div>
        </div>

        <!-- Visão -->
        <div class="col-md-3 mb-4">
            <div class="p-4 text-white rounded shadow-lg border rounded shadow-sm hover-effect custom-card">
                <div class="icon-background d-inline-block p-3 mb-3">
                    <i class="fas fa-eye fa-4x"></i>
                </div>
                <h4>Visão</h4>
                <p>Ser a líder em inovação e qualidade, impactando positivamente a vida das pessoas.</p>
            </div>
        </div>
    </div>
</div>


<br>

<br>